.contact-chat>ul.chatappend>li:last-child:first-child .msg-box>li .msg-dropdown {
    bottom: unset !important;
    top: 45px !important;
}

.messages .chat-frind-content li {
    cursor: pointer;
}

.chitchat-main .messages .contact-details .left.media .media-body:before {
    width: 0;
}

.theme-tab .nav-tabs .nav-item .nav-link {
    padding: 6px 15px;
    min-width: 100px;
}

.modal ul.chat-main li {
    border-radius: 0 5px 5px 0;
}

ul.chat-main li {
    background-color: #eff1f2;
    margin-bottom: 1px;
    cursor: pointer;
}

ul.chat-main li:hover {
    background-color: #eff7fe;
}

ul.chat-main li.active {
    background-color: #eff7fe;
}
.thread_info {

}
.thread_info_content {
    display: none;
}
.thread_info .thread_info_content li {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: white;
    margin-top: 10px;

}

.modal ul.chat-main li .chat-box .date-status .form-check-input {
    font-size: 1.5em;
    border-radius: 50%;
    pointer-events: none;
}

body>div.chitchat-container.sidebar-toggle.mobile-menu>section>a {
    position: absolute;
    left: 20px;
    z-index: 2;
}

.iti-mobile .iti--container {
    z-index: 9999;
}

.messages div.contact-chat li.replies .msg-box li {
    text-align: left;
}

.chat-main li .chat-box .date-status {
    top: 50%;
    transform: translateY(-50%);
}

#cast .chat-main li .chat-box .date-status {
    display: flex;
    flex-direction: column;
}

#cast .chat-main li .chat-box .icon-btn.btn-outline-light {
    position: static;
    margin: 1px;
}

.chat-main li .chat-box .date-status i.ti-trash {
    font-size: 16px;
    color: #1c9dea;
}

.messages .replies.msg-item .replyBtn {
    display: none;
}

#cast .chat-box .msg-setting {
    width: 25px;
    height: 25px;
    background-color: #bbbbbb;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

#cast .chat-box .msg-setting:hover {
    background-color: #8b8080;
}

#cast .chat-box .msg-dropdown {
    display: none;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    border: 2px solid #eff1f2;
    border-radius: 15px;
    left: 50%;
    top: -105px;
    z-index: 999999;
    transform: translateX(-50%);
}

#cast .chat-box .msg-dropdown li {
    margin: 5px 0px;
    padding: 0px;
}

#content .chat-content .replyMessage {
    padding: 15px;
    border-radius: 15px;
    background-color: #82878f;
    color: white;
}

#content .chat-content>.replyMessage {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #82878f;
}

#content .chat-content .replyMessage .replyIcon {
    margin-right: 10px;
}

#content .chat-content .replyMessage .replyContent img {
    width: 65px;
}

#content .chat-content>.replyMessage .closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #1c9dea;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#photo_item .modal-content .btn-group.edit_btn_group {
    display: none;
}

#forwardUsersListModal .chat-main .date-status .btn.forward_btn {
    padding: 3px 10px;
    border-radius: 20px;
}

.chat-main li .details>h6 {
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
