#withdrawListModal .chat-main {
    max-height: 500px;
    overflow: auto;
}

#withdrawListModal .chat-main .date-status {
    display: flex;
    align-items: center;
    gap: 15px;
}
#withdrawListModal .chat-main .date-status .status{
    text-transform: capitalize;
}

#withdrawListModal .chat-main .date-status .thread_info {
    display: flex;
    align-items: center;
    gap: 5px;
}

#withdrawListModal .chat-main>li {
    padding-left: 10px;
    padding-right: 10px;
}

#withdrawConfirmModal .modal-footer {
    display: flex;
}
#withdrawConfirmModal .modal-body h3 {
    margin-bottom: 10px;
}
#withdrawConfirmModal .modal-body h3>span {
    font-size: 17px;
    color: #1c9dea;
    margin-bottom: 5px;;
}
#withdrawConfirmModal .modal-body .withdrawType>span {
    text-transform: capitalize;
}

@media (max-width: 1366px) {
    #withdrawListModal ul.chat-main {
        padding: 0 20px;
    }
}