.contact-profile details .name>h3,
#slide-menu>div>div.contact-profile>div.theme-title>div>div:nth-child(1)>h2 {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profile_modal .media-gallery {
    margin-top: 15px;
}
.shared_media .media_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* grid-template-columns: 30% 30% 30%; */
    grid-gap: 10px;
    margin-top: 10px;
}

.shared_media .media_list .media-small {
    overflow: hidden;
    height: auto;
    width: fit-content;
}

.shared_media .media_list .border-portfolio {
    border: 1px solid gray;
}

.portfolio-section .isotopeSelector img {
    max-height: 80px;
    width: auto;
}
.mfp-title {
    display: block;
}

.contact-profile .follow_btn {
    margin-top: 15px;
}

.chitchat-right-sidebar .contact-profile {
    padding: 30px;
    padding-bottom: 15px;
}

#profile_modal .contact-profile .details .contact-top {
    height: 150px;
    width: 140px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 10px 16px -10px #666;
    box-shadow: -1px 10px 16px -10px #666;
    margin: 0 auto;
}

#profile_modal .details {
    text-align: center;
}

#profile_modal .details .medialogo {
    display: flex;
    justify-content: center;
    gap: 15px;
}