.chatWallpaper>div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    position: relative;
}

.backgroundImagePreview {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url('/images/backgrounds/back\ \(1\).png');
    background-size: 100% 100%;
    cursor: pointer;
}

#backgroundImageFileSelect {
    position: absolute;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    top: 0;
}

.passwordInput {
    display: flex;
    align-items: center;
}

.passwordInput .fa {
    margin-left: -22px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.changePasswordTab .changePasswordBtn {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1366px) {
    .notification-tab .chat-main .chat-box .date-status {
        top: 50%;
    }
}