#checkoutModal .product-payment {
    padding: 30px;
}

#checkoutModal .product-item,
#checkoutModal .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkoutModal span {
    font-size: 15px;
}

#checkoutModal .payment-options {
    margin-top: 20px;
    text-align: center;
}

#checkoutModal .product-list img {
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
}
#checkoutModal>div>div>div.modal-body>div.product-payment>div.payment-options>button {
    line-height: 25px;
    border-radius: 20px;
    padding: 5px 50px;
}